@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoItalic";
    src: url("../fonts/Roboto-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
ul, li {
    margin: 0;
    padding: 0;
}
body {
    font-family: "RobotoRegular";
}
.italic {
    font-family: "RobotoItalic";
}
.header {
    background-color: #007765;
    padding: 18px 20px;
}

.nav {
    display: inline-block;

} 
.nav-list {
    display: inline-block;
    list-style-type: none;
}
.nav-item {
    display: inline-block;
    padding-right: 10px;
}
 .nav-item:not(:first-child) {
    padding-left: 10px;
    border-left: 1px solid #fff;
}
.nav-link {
    text-decoration: none;
    color: #fff;
}
.nav-link:hover {
    color: #ddd;
}